---
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Offer from '../components/Offer.astro';
import Showcase from '../components/Showcase.astro';
import Incluso from '../components/Incluso.astro';
import Contatti from '../components/Contatti.astro';
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header />
		<Hero />
		<About />
		<Offer />
		<Showcase />
		<Incluso />
		<Contatti />
	</body>
</html>

<style>
	* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ffffff; /* 👈 Sostituisci con il colore della sezione se vuoi che lo sfondo si fonda perfettamente */
}
</style>
