---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Offer from '../components/Offer.astro';
import Showcase from '../components/Showcase.astro';
import Incluso from '../components/Incluso.astro';
import Contatti from '../components/Contatti.astro';
import FAQ from '../components/FAQ.astro';
---

<Layout 
  title="Sambo Bike Rent | Noleggio E-Bike a San Bonifacio" 
  description="Esplora il territorio su due ruote con le nostre biciclette ed e-bike a noleggio. Prenota online la tua e-bike in totale libertà."
>
  <meta slot="head" name="google-site-verification" content="Km9C_E-QfJRW-dxH1LsepojhK1JH2RY7eM-y2763Ugw" />

  	<Hero />
  	<About />
  	<Offer />
  
  <main class="page-stack-container">
    <Showcase />
    <Incluso />
  </main>
  	<FAQ />
	<Contatti />
</Layout>

<style>
  /* Il tuo stile specifico per la home se necessario, altrimenti puoi lasciarlo vuoto */
</style>